appdirs==1.4.3
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
beets==1.4.6
cachetools==2.0.1
cffi==0.8.6
chardet==2.3.0
colorama==0.3.2
configobj==5.0.6
contextlib2==0.5.5
cryptography==0.6.1
decorator==4.2.1
discogs-client==2.2.1
enum34==1.1.6
funcsigs==1.0.2
future==0.18.3
gmusicapi==11.0.1
gpsoauth==0.4.1
html5lib==0.999
httplib2==0.11.3
ipaddress==1.0.19
jellyfish==0.5.6
lxml==4.2.1
MechanicalSoup==0.10.0
mock==2.0.0
Mopidy==2.1.0
Mopidy-BeetsLocal==0.0.9
Mopidy-GMusic==2.0.0
Mopidy-Iris==3.15.0
Mopidy-Local-Images==1.0.0
Mopidy-SoundCloud==2.0.2
Mopidy-Spotify==3.1.0
Mopidy-TuneIn==0.4.1
Mopidy-Youtube==2.0.2
munkres==1.0.12
musicbrainzngs==0.6
mutagen==1.40.0
MySQL-python==1.2.3
ndg-httpsclient==0.3.2
oauth2client==4.1.2
oauthlib==2.0.7
pafy==0.5.4
pbr==4.0.0
ply==3.4
proboscis==1.2.6.0
protobuf==3.5.2.post1
pyasn1==0.1.7
pyasn1-modules==0.2.1
pycparser==2.10
pycrypto==2.6.1
pycryptodomex==3.5.1
pycurl==7.19.5
pyechonest==9.0.0
pygobject==3.14.0
Pykka==1.2.1
pylast==2.0.0
pyOpenSSL==0.14
pyspotify==2.0.5
python-dateutil==2.7.2
python-mpd==0.3.0
PyYAML==3.12
raven==6.6.0
requests==2.4.3
rsa==3.4.2
six==1.11.0
tornado==3.2.2
Unidecode==1.0.22
uritools==2.1.0
urllib3==1.9.1
validictory==1.1.2
virtualenv==1.11.6
